# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.env

# Database
*.db

# Uploads
backend/uploads/

# Node
frontend/node_modules/
frontend/.next/
frontend/out/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
